body{
    font-family: 'Shabnam', sans-serif !important;
}
.font-mont{
    font-family: 'Montserrat', sans-serif;
}
.font-shabnam {
    font-family: 'Shabnam', sans-serif !important;
}
.menu {
    top: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
    margin-right: -320px;
    width: 320px;
    background-color:#FFF;
    transition: 0.2s ease-in-out;
    z-index: 2 !important;
    position:fixed;
    border-color: black;
}

#overlay {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
}

.closeButton {
    position: absolute;
    top: 0;
    right: 293px;
    font-size: 36px;
    margin-right: 8px;
    color: white;
}

.menu--open {
    margin-left: 0;
    border-right-color:bisque;
    border-right-width: 1px;
}

@media only screen and (max-width: 600px) {
    .m-l-10 {
        margin-left: 15px;
    }
    .m-r-10 {
        margin-right: 15px;
    }
}

